@charset "ISO-8859-1";

.changeFont {
	font-family: 'Oswald', sans-serif;
}

.spaceTitle {
	padding-top: 1em;
	padding-bottom: 1em;
}

.hrColor {
	background-color: black;
}

#imgProfilNav {
	height: 35px;
	width: 35px;
}

#imgProfilNav:hover {
	height: 40px;
	width: 40px;
}

#imgProfil {
	height: 400px;
	width: 400px;
}